.grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1280px;
    height: auto;
}

.row {
    display: flex;
}

.cell {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    background-color: #282c34;
}
