.grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1280px;
    height: auto;
}

.row {
    display: flex;
}

.cell {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    background-color: #282c34;
}

.snake {
    background-color: #61dafb;
}

.food {
    background-color: #ff6347;
}
